{% extends "base.html" %}

{% block body %}
<form action="{{ url_for('.login') }}" method="post" id="loginForm">
  <a href="https://github.com/federicotdn/sevilla">
    <img src="logo.png" alt="Sevilla logo" height="192" width="192" id="loginLogo">
  </a>
  <div>
    <input name="password" id="passwordField" class="textField" value="" type="password" placeholder="{{ t.password }}">
    <input name="next" value="{{ next }}" type="hidden">
  </div>
  <div>
    <button id="loginButton" class="textButton">{{ t.login }}</button>
  </div>
  {% set errors = get_flashed_messages(category_filter=["error"]) %}
  {% if errors %}
  <div id="loginError">{{ errors[0] }}</div>
  {% endif %}
</form>
{% endblock %}
