{% extends "base.html" %}

{% block script %}<script src="/notes.js"></script>{% endblock %}

{% block body %}
<body>
  <a href="{{ url_for('.index') }}"><button class="textButton" id="backButton">Write</button></a>
  <form id="logoutForm" action="{{ url_for('.logout') }}" method="post">
    <button class="textButton" id="logoutButton">Log out</button>
  </form>
  <table>
    <thead id="notesTableHeader">
      <tr>
	<td>Created</td>
	<td>Note</td>
	<td>Hide</td>
      </tr>
    </thead>
    <tbody id="notesTable">
      {%- for note in pagination.items  %}
      <tr>
	<td class="noteTimestamp">{{ note.modified_millis() }}</td>
	<td class="noteLink">
	  {% set note_preview = note.preview() %}
	  <!-- HTML comments used here so that no additional spaces are inserted
	       between the asterisk and the note preview.-->
	  {{ "" if note.read or not note_preview else "*" }}<!--
       --><a href="{{ url_for('.get_note', note_id=note.id) }}"><!--
         -->{% if note_preview %}<!--
         -->{{ note_preview }}
	    {% else %}
	    <i>(empty)</i>
	    {% endif %}
	  </a>
	</td>
	<td>
	  <form action="{{ url_for('.hide_note', note_id=note.id) }}" method="post">
	    <input name="pageSize" type="hidden" value="{{ pagination.items|length }}">
	    <input name="page" type="hidden" value="{{ pagination.page  }}">
	    <button>✕</button>
	  </form>
	</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {% if not pagination.items %}
  <h3 id="noNotesHeader">No notes to show.</h3>
  {% else %}
  <div id="paginationButtons">
    {% if pagination.has_prev %}
    <a href="{{ url_previous  }}"><button id="paginationButtonPrevious"><b>←</b></button></a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{ url_next }}"><button id="paginationButtonNext"><b>→</b></button></a>
    {% endif %}
  </div>
  <div id="pageIndicator">{{ pagination.page }}/{{ pagination.pages }} ({{ pagination.total }})</div>
  {% endif %}
</body>
{% endblock %}
