<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Sevilla</title>
    <script src="notes.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <a href="{{ url_for('.index') }}"><button id="backButton">Write</button></a>
    <table>
      <thead id="notesTableHeader">
	<tr>
	  <td>Time</td>
	  <td>Note</td>
	  <td>Hide</td>
	</tr>
      </thead>
      <tbody id="notesTable">
	{%- for item in pagination.items  %}
	<tr>
	  <td>{{ natural_datetime(item[1]) }}</td>
	  <td><a href="{{ url_for('.get_note', note_id=item[0]) }}">{{ item[2] }}</a></td>
	  <td><a class="hideLink" href="#"><button>✕</button></a></td>
	</tr>
	{%- endfor %}
      </tbody>
    </table>
    {% if not pagination.items %}
    <h2 id="noNotesHeader">No notes to show.</h2>
    {% endif %}
    <div id="paginationButtons">
      {% if pagination.has_prev %}
      <a href="{{ url_previous  }}"><button id="paginationButtonPrevious">←</button></a>
      {% else %}
      <button id="paginationButtonPrevious" disabled>←</button>
      {% endif %}
      {% if pagination.has_next %}
      <a href="{{ url_next }}"><button id="paginationButtonNext">→</button></a>
      {% else %}
      <button id="paginationButtonNext" disabled>→</button>
      {% endif %}
    </div>
  </body>
</html>
