/*
 *  Shared
 */

body {
    margin: 0em;
    color: #444444;
}

button {
    text-align: center;
    border-radius: 0em;
    border: black 0.1em solid;
    cursor: pointer;
}

.textButton {
    font-size: 1.0em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
}

/*
 *  Index (write)
 */

#noteText {
    width: 99vw;
    height: 95vh;
    position: fixed;
    white-space: pre;
    top: 5vh;
    left: 1vw;
    border: 0em;
    padding: 0em;
    font-size: 1.2em;
    font-family: sans-serif;
    resize: none;
    background-color: inherit;
}

#indicator {
    width: 100vw;
    height: 3vh;
    position: fixed;
    top: 0em;
    z-index: 999;
}

#indicator.indicator-ok {
    background-color: #28A745;
}

#indicator.indicator-loading {
    background-color: #A0A0A0;
}

#indicator.indicator-error {
    background-color: #CC3232;
}

/*
 *  Login
 */

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginButton {
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    width: 40%;
}

#passwordField {
    margin: 0 auto;
    display: block;
    text-align: center;
    border: #AAAAAA 0.1em solid;
}

#loginLogo {
    margin: 0 auto;
    margin-bottom: 10%;
    display: block;
}

/*
 *  Notes list
 */

table {
    table-layout: fixed;
}

table td {
    overflow: hidden;
}

table td:nth-of-type(1) {
    width: 30%;
}

table td:nth-of-type(2) {
    width: 55%;
}

table td:nth-of-type(3) {
    width: 15%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    border-bottom: 2px solid #CCCCCC;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

thead {
    font-weight: bold;
}

table {
    font-family: sans-serif;
    width: 96vw;
    margin-left: 2vw;
    margin-top: 1em;
}

#backButton {
    margin-top: 0.8em;
    margin-left: 0.8em;
    background: #28A745;
    color: #FFFFFF;
}

#logoutButton {
    margin-top: 0.8em;
    margin-right: 0.8em;
    float: right;
    background: #EEEEEE;
}

#logoutForm {
    float: right;
}

#paginationButtons {
    margin: auto;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 3em;
}

#pageIndicator {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100vw;
    font-size: 1em;
    font-family: sans-serif;
}

#noNotesHeader {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: sans-serif;
}

#paginationButtonNext {
    float: right;
}

#paginationButtonPrevious {
    float: left;
}

.noteLink {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
 * Note view
 */

#noteContents {
    margin: 0.4em;
    font-size: 1em;
    font-family: sans-serif;
}
